@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    font-family: "Sawarabi Gothic", "PT Serif", "Inter" ;
    line-height: 1.4;
    color: #424242;
    max-width: 1250px;
    margin: auto;
}
img {
    max-width: 100%;
}
h3 {
    font-family: "PT Serif";
    font-size: 20px;
    margin: 0;
}
h6 {
    font-family: "Sawarabi Gothic";
    font-size: 8px;
    font-weight: lighter;
    margin: 10px 0;
}
p {
    font-family: "Sawarabi Gothic";
    font-size: 10px;
    line-height: 15px;
    padding-top: 15px;
}

header {
    height: 500px;
    background-image: url(images/coffee-top.jpg);
    background-size: 120%;
    background-position: left 70%;
}
header h1 {
    margin: 0;
    font-size: 80px;
    font-family: "Inter";
    color: #fff;
    text-shadow: 0 2px 3px #373A40;
    padding: 70px 70px;
}

.about {
    display: flex;
    background-color: #F0ECEB;
    padding: 5% 20%;
    align-items: center;
}
.about img {
    width : 150px;
    float: right;
    margin-left: 90px;
}

.galary {
    background-color: #E4E0DD;
    width: 100%;

}
.flexbox {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 15%;
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-around;
}
.flexbox li {
    width: 31%;
    padding: 1%;
    list-style: none;
}
.item1 {
    object-fit: fill;
    flex-basis: 62.5%;
}

.menu {
    margin: 0;
    background-color: #E4E0DD;
    padding: 0 18% 5% 18%;
}


.list {
    font-size: 10px;
    line-height: 40px;
    width: 120%;
    padding-top: 20px;
    display: flex;
}
.left {
    display: inline-block;
    width: 48%;
}
table {
    border-collapse: collapse;
}
td {
    font-family: "Sawarabi Gothic";
    border-bottom: 0.3px solid #B7B7B7;
    border-top: 0.3px solid #B7B7B7;
}
.rigth {
    display: inline-block;
    justify-content: flex-end;
    width: 48%;
}
.price {
    padding-left: 180px;
}



.stay {
    display: flex;
    padding: 5% 15%;
}
.room {
    width: 50%;
    padding: 0 50px;
}
.stay h3{
    padding-top: 20px
}
.design {
    width: 50%;
    padding: 0 50px;
}

footer {
    position: relative;
    background-image: url(images/coffee-footer.jpg);
    background-position: center;
    height: 550px;
}
footer h6 {
    margin: 0;
    position: absolute;
    padding: 30px 5%;
    width: 90%;
    background-color: rgb(104, 109, 118,0.5);
    bottom: 0px;
    color: #fff;
    letter-spacing: 1px;
}
